@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4"> Methods</h1>
    <p> <a href="/NeuralNetwork/Index/">Fill in the fields</a> </p>
</div>
